<template>
  <div class="v-catalog-item">
    <img class="v-catalog-item__image" v-bind:src="require('../assets/images/' + product_data.image ) " alt="img">
    <p class="v-catalog-item__name">{{ product_data.name }}</p>
    <p class="v-catalog-item__price">Price: {{ product_data.price }} P.</p>
    <button class="v-catalog-item__add_to_cart_btn btn" @click="addToCart">Add to cart</button>
  </div>
</template>

<script>
export default {
  name: "v-catalog-item",
  props: {
    product_data: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  methods: {
    addToCart() {
      this.$emit('addToCart', this.product_data)
    }
  }
}
</script>

<style lang="scss" scoped>
.v-catalog-item {
  flex: 0 0 30%;
  box-shadow: 0 0 5px cornflowerblue;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;

&
__image {
  width: 100px;
}

}
</style>