<template>
  <div class="v-main-wrapper">
    <v-catalog/>
    <v-cart
        v-if="CART.length"
        :cart_data="CART"
    />
  </div>
</template>
<script>
  import vCatalog from './v-catalog'
  import vCart from './v-cart'
  import {mapGetters} from 'vuex'

  export default {
    name: 'v-main-wrapper',
    data(){
      return {
      }
    },
    components:{
      vCatalog,
      vCart
    },
    props: {
    },
    watch: {
    },
    computed: {
      ...mapGetters([
          'CART'
      ])
    },
    mounted(){
      // console.log("Hello I'm wrapper")
    }
  }
</script>
<style lang="scss">
  .v-main-wrapper{
    p{
      //background: green;
    }
  }
</style>