<template>
  <div id="app">
    <v-main-wrapper/>
  </div>
</template>

<script>
import vMainWrapper from './components/v-main-wrapper.vue'

export default {
  data(){
    return {
    }
  },
  name: 'App',
  components: {
    vMainWrapper
  },
  computed: {
  },
  methods: {
  }
}

</script>

<style>
body{
  /*background: #eee;*/
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
